@font-face { font-family: monofonto_rg; src: url(../monofonto_rg.otf); } 

body {
    font-family: monofonto_rg;
    margin-left: 4px;
}

::selection {
    color: black;
    background: yellow;
  }

.info {
    font-size: 20px;
}

.title-area {
    font-size: 14px; 
    text-align: left;
}

.nav {
    font-size: 15px;
    text-align: left;
}

li {
    list-style-type: none;
    font-size: 20px;
}

ul {
    padding-left: 0px;
    font-size: 14px;
}

a:visited {
    color: blue;
}

.name {
font-size: 13px;
}

.mail {
    font-size: 13px;
}

footer {
    font-size: 14px;
    position: absolute;
    left: 5px;
    bottom: 30px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 5px;
} 


/* For width 400px and smaller: */
@media only screen and (max-width: 400px) { 
ul {
    font-size: 10px;
}
li {
    list-style-type: none;
    font-size: 10px;
}

.title-area {
    font-size: 10px;
}

.name {
    font-size: 10px;
}

.info {
    font-size: 9px;
}

.mail {
    font-size: 9px;
}

.footercontact {
    font-size: 9px;
}

footer {
    font-size: 9px;
}
}

.bottom-right-image {
    position: fixed;
    bottom: 20px; /* Adjust bottom margin as needed */
    right: 20px; /* Adjust right margin as needed */
    max-width: 50%; /* Adjust maximum width as needed */
    max-height: 50%; /* Adjust maximum height as needed */
}